.header{
    max-width: 1170px;
    margin: 0 auto;
    &__subtitle{
       font-family: 'Lato';
 font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 150%;
 letter-spacing: 0.5em;
 color: #000000;
 padding: 38px 0px 0px;
    }
    &__title{
       font-family: 'Red Hat Display';
 font-style: normal;
 font-weight: 600;
 font-size: 48px;
 line-height: 64px;
 letter-spacing: 0.05em;
 color: #000000;
 padding: 38px 0px 0px;
 margin-bottom: 70px;
    }
 }
 @media (max-width: 768px) {
    .header{
       
       &__subtitle{
    padding: 18px 0px 0px 34px;
       }
       &__title{
        font-size: 33px;  
    padding: 68px 0px 0px 33px;
    margin-bottom: 50px;
       }
    }  
 }

 @media (max-width: 320px) {
    .header{
       
       &__subtitle{
    padding: 18px 0px 0px 10px;
       }
       &__title{
        font-size: 30px;
    padding: 18px 10px 0px 10px;
    margin-bottom: 40px;
       }
    }  
 }